body {
    background-color: #fff4e6;
    font-size: 23;
    font-family: arial;
    
}

header {
    color: #c70700
}


h1 {
    background-color: #fff4e6;
    color: wheat;
    font-size: 45px;
    text-align: center;
    margin: auto;
  }
    
main {
    background: lightblue;
}
  .grid {
    display: flex; 
    border: 5px solid darkred;
    place-items: left;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  
  h2 {
    background: white;
    color: #333;
    width: 500px;
    
  }

  h3 {
    background-color: #c70700;
    color: wheat;
    font-size: 20px;
    margin: auto;
  }

.columns {
    background-color: #c70700;
    color: wheat;
    font-size: 20px;
    margin: auto;
}

.column {
    background-color: #c70700;
    color: wheat;
    font-size: 20px;
    margin: auto;
}

footer {
    background-color: #c70700;
    color: wheat;
    font-size: 12px;
    text-align: center;
    margin: auto;
}

.btnbtn-primary {
    text-align: center;
}